.logo {
  width: 3rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  transition: transform 200ms ease-in-out;
}

.logo img {
  display: block;
  width: 100%;
}

.logo:hover {
  transform: scale(1.05);
}

:global(.Navbar_root_2dO1G) {
  align-items: center !important;
}
